img{
    height: 100%;
    width: 400px;
    
}

.navbar-brand{
    height: 60px;
    width: 60px;
}

.submit{
    float: right;
}

.inputLogin{
    width: 100%;
}
.navFooter{
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    bottom: 0;
}


