img{
    height: 100%;
    width: 400px;
    
}

.navbar-brand{
    height: 60px;
    width: 60px;
}

.submit{
    float: right;
}

.inputLogin{
    width: 100%;
}

.programa{
    position:fixed;
    right:495px;
    bottom: 100px;
    height: 230px;
    width: 550px;
}

